@media screen
{

body {

	background-color:darkblue;
	color:lightgray;

	margin-left:150px;
	margin-top:100px;

}

#loginUser span {
	display:block;
	width:10em;
	margin-top:40px;
	margin-bottom:10px;
	font-size:16px;	
}
#createUser span {
	display:block;
	width:10em;
	margin-top:10px;
	margin-bottom:5px;
	font-size:16px;	
}

#loginUser .btnAction {
	margin-top:40px;
}
#createUser .btnAction {
	margin-top:24px;
}


label span { 
	width:300px; 
	display:block;
}
div.smaller { 
	float:left;

}
div.smaller  label span { 
	width:200px ;
}
div.normal  label span { 
	width:300px !important ;
}

span.feedback{ 
	display:inline-block !important;
	width:300px !important;
	margin:10px;
}

* {
	box-sizing: border-box;	
}


.btnAction {
	border-radius:6px;
	padding:10px;
	font-size:20px;
	width:7em;
}

input { 
	padding-left:10px;
	font-size:36px;
	width:10em;
}

div.smaller  input { 
	width:4em ;
}

input:focus { 
	background-color:yellow;
}

input:hover { 
	background-color:lightblue;
}

#nav { 
	border-bottom:1px solid white;
	padding-left:20px;
}
#nav div {
display:inline-block;	
}
.menu { 
	padding:10px;
	cursor: pointer;
	
	border-top:2px solid  rgba(255,255,255,0); ;
}

.menu:hover { 
	border-top:2px solid rgba(255,255,255,.8);

}

.menu.inactive { 
	background-color:none;
	color:grey;
}

.menu.active { 
	background-color:white;
	color:black;
}
div.normal { 
clear:both;
padding-top:5px;
 }

 #pleaseLogin {
padding:40px;

 }

 .hidden { diplay:none; }

 #myInfo { 
 	margin:40px;
 	padding:20px;
 	border-left:1px solid rgba(255,255,255,.5);
 	line-height: 200%
 }

 #myMandalas {
 	margin:40px;
 }
 #myMandalas label span {
 	margin-bottom:5px; 
 }
 #myMandalas input { 
	padding-left:10px;
	padding-right:10px;
	font-size:16px;
	width:20em;
}

#myMandalas .btnAction {
	margin-top:4px;
	width:7em;
	font-size:16px;
	padding:2px;
}

a.logout:hover { 
color:white;
border-bottom:1px solid white;
 }
a.logout { 
	text-decoration: none;
	color:rgba(255,255,255,.6);
	margin-left:10px;
	margin-right:5px;
	border-bottom:1px solid rgba(255,255,255,.6);	
}

#listMandalas {
	width:400px;
}

a.launch { 
color:lightgreen;
 }

#myTitle { 
font-size:28px;
margin-top:20px;
margin-bottom:10px;
width:50%;
color:grey;
border-bottom:1px solid lightgrey;
 }

 
div.mname { 
display:inline;
 }

div.mandala:hover {
	background-color:rgba(255,255,255,.1);
	border-bottom:1px solid white;
}
 div.mandala {
 	width:450px;
 	display:block;
 	margin:5px;
 	padding:4px;
 	cursor:pointer;
	border-bottom:1px solid rgba(255,255,255,0); 	
	clear:both;
	margin-bottom:22px;
 }

 .msubmenu { 
	display:inline-block;
	clear:both;
 }
 .svgCont {
    vertical-align: middle;
    display: inline-block;
}

.svgCont svg {
    margin: 0px 0px 2px;
    padding: 0px;
}

svg.icon {
    display: block;
    margin-left:10px;
    
}

div.preview svg {
    margin: 10px auto;
    display: block;
    background-color: #212;
    clear:both;
}

.ishelper, .helper { 
    display:none;
 }

 .preview { 

zoom:.4;
  }

div.heart svg { 
	filter:saturate(.2);
}

div.heart.hearted svg { 
	filter:saturate(1);
}

.createdby { 
font-style: italic;
color:grey;
font-size:80%;
}


@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
.rating { 
  border: none;
  float: left;
  margin:0px 0px 0px 28px;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin-top: 2px;
  padding:0px 5px 0px 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
	color: #fff; 
	float: right;
	margin:4px 1px 0px 0px;
	background-color:#D8D8D8;
	border-radius:15px;
  height:25px;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { 
	background-color:#7ED321 !important;
  cursor:pointer;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { 
	background-color:#7ED321 !important;
  cursor:pointer;
} 

.cl {

	clear:both;
}

#printable { display:none; }

}

@media print {

#nonprint { 
display:none;
 }




}


div#printable svg   > g {
    stroke: black !important;
    fill: black;
    fill-opacity: 1;
}
div#printable svg { 
    margin:10px;
    background-color:#FFF !important;;

}
