

#svgb g {
    stroke: white;
    fill: white;
    fill-opacity: .2;
}

.green {
    fill: red;
    stroke: green;
}

.text {
    fill: #AAA;
    font-size: 10px;
}

.dark_blue {
    fill: darkblue;
    

}

.light_blue {
    fill: lightblue;
}

.yellow {
    stroke: yellow;
    fill: none;
}

.black {
    stroke: #333;
}

.black_solid {
    stroke: #333;
    fill: #000;
}

.white_none {
    stroke: white;
    fill: white;
}

.red {
    stroke: red;
    fill: none;
}

.blue {
    stroke: blue;
    fill: none;
}

.red_solid {
    stroke: red;
    fill: pink;
}

.yellow {
    stroke: yellow;
}

g.fill_none > * {
    background-color: rgba(0, 0, 0, 0);
    fill: none;
}

g.fill_red > * {
    background-color: red;
    fill: red;
    fill-opacity: 1;
}

g.fill_blue > * {
    background-color: blue;
    fill: blue;
    fill-opacity: 1;
}

g.fill_yellow > * {
    background-color: yellow;
    fill: yellow;
    fill-opacity: 1;
}
g.stroke_red > * {
    border: 1px solid red;
    color: red;
    stroke: red;
}

g.stroke_none > * {
    border: 0px solid red;
    color: #CCC;
    stroke: none;
}

g.stroke_blue > * {
    border: 1px solid blue;
    color: blue;
    stroke: blue;
}